#contact{
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: 50px 450px;
    justify-content: center;
    text-align: center;
    gap: 50px;
}

#inbut button,input{

    background: white;
    border: none;
    

}

#inbut{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 150px;
    
}
#page6 hr{
    margin: 0px 450px;
    position: relative;
    bottom: 200px;
}

