.menu {
    text-decoration: none;
    color: black;
    position: relative;
    padding: 0px 100px;
    font-weight: 500;

}
#head button {
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 20px;
    height: 30px;
    text-align: center;
    
}
#head span {
    
    font-size: 10px;
    padding: 0px 5px;


}
.menu:hover {
    color: black;
    text-decoration: underline;
}
#firstimg {
    width: 1280px;
    height: 720px;
}