/* .menu {
    text-decoration: none;
    color: black;
    position: relative;
    padding: 0px 100px;
    font-weight: 500;

}
#head button {
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 20px;
    height: 30px;
    text-align: center;
    
}
#head span {
    
    font-size: 10px;
    padding: 0px 5px;


}
.menu:hover {
    color: black;
    text-decoration: underline;
}
#firstimg {
    width: 1280px;
    height: 720px;
} */
#logo{

    font-size:xx-small;
    position: relative;
    top: 5px;
    
}
#menu a{

    color: black;
    text-decoration: none;

}

#menu{

    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-weight: 700;

}

#menu li:hover{

    text-decoration: underline;
    text-decoration-color: black;
     text-decoration-thickness: 4px;
    text-underline-offset: 8px;

}

header{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;

}

header button {

    display: flex;
    background-color: black;
    color: white;
    border-radius: 10px;
    height: 30px;
    
}

 #booticons{
    
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}